<footer class="footer">
  <div class="footer__container">
    <p>© FAC Review 2017</p>
    <p><a href="https://github.com/foundersandcoders/master-reference">Master Reference/a></p>
  </div>
</footer>
