<header class="header">
      <ul class="header__list">
        <li class="header__title">FAC*</li>
          <!-- if statement/helper to check for cookie-->
        <li class="header__item"><button type="button" name="logout">Logout</button></li>
        <li class="header__item"><img class="header__avatar" src="{{user.avatar}}" alt="Your picture!"/></li>
        <li class="header__item">Welcome {{user.name}}!</li>
      </ul>
</header>
